name: Tag Release CI

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.8.6'

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots install
      - run: mkdir staging && cp mvel3-lsp-server/target/mvel3-lsp-server-jar-with-dependencies.jar staging

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Package VS Code Extension
        working-directory: ./client
        run: |
          npm install
          npm run pack:dev
          cp dist/*.vsix ../staging/

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            staging/*.jar
            staging/*.vsix
